.li-about {
    color: skyblue;
}
.li-skills {
    color: deepskyblue;
}
.li-portfolio {
    color: cadetblue;
}
.li-contact {
    color: powderblue;
}

.about-us-sec {
    background-color: azure;
}

.second-section-square {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.first-square {
    background-color: yellowgreen;
}

.second-square {
    background-color: aquamarine;
}

.third-square {
    background-color: bisque;
}

.fourth-square {
    background-color: cyan;
}

.third-section-square {
    width: 150px;
    height: 150px;
}

.first-square-2 {
    border: 1px solid blue;
}

.second-square-2 {
    border: 1px solid red;
}

.third-square-2 {
    border: 1px solid green;
}