.li-about {
    color: skyblue;
}
.li-skills {
    color: deepskyblue;
}
.li-portfolio {
    color: cadetblue;
}
.li-contact {
    color: powderblue;
}

.about-us-sec {
    background-color: azure;
}

.second-section-square {
    display: inline-block;
    width: 100px;
    height: 100px;
}